[package]
name = "dhcp-template-api"
version = "0.1.0"
edition = "2024"

[dependencies]
prost = { workspace = true }
tonic = { workspace = true }
tonic-prost = { workspace = true }

[build-dependencies]
tonic-prost-build = { workspace = true }
