{{- with .Values.agent }}
---
apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: {{ include "dhcp-template.agent.fullname" $ }}
  labels:
    {{- include "dhcp-template.agent.labels" $ | nindent 4 }}
spec:
  selector:
    matchLabels:
      {{- include "dhcp-template.agent.selectorLabels" $ | nindent 6 }}
  template:
    metadata:
      annotations:
        checksum/config: {{ include (print $.Template.BasePath "/agent-configmap.yaml") $ | sha256sum }}
        {{- with .podAnnotations }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
      labels:
        {{- include "dhcp-template.agent.labels" $ | nindent 8 }}
        {{- with .podLabels }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
    spec:
      {{- with $.Values.global.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .podSecurityContext }}
      securityContext:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      containers:
        - name: {{ $.Chart.Name }}-agent
          {{- with .securityContext }}
          securityContext:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          image: "{{ .image.repository }}:{{ .image.tag | default $.Chart.AppVersion }}"
          imagePullPolicy: {{ .image.pullPolicy }}
          {{- with .resources }}
          resources:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          volumeMounts:
            - name: dhcpcd
              mountPath: /mnt/host/var/lib/dhcpcd
              readOnly: true
            {{- with .volumeMounts }}
            {{- toYaml . | nindent 12 }}
            {{- end }}
          env:
            - name: DHCP_TEMPLATE__NODE_NAME
              valueFrom:
                fieldRef:
                  fieldPath: spec.nodeName
          envFrom:
            - configMapRef:
                name: {{ include "dhcp-template.agent.fullname" $ }}
      volumes:
        - name: dhcpcd
          hostPath:
            path: /var/lib/dhcpcd
            type: Directory
        {{- with .volumes }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
      {{- with .nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
{{- end }}
