{{- with .Values.operator }}
{{- if .serviceAccount.create -}}
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ include "dhcp-template.operator.serviceAccountName" $ }}
  labels:
    {{- include "dhcp-template.operator.labels" $ | nindent 4 }}
  {{- with .serviceAccount.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
automountServiceAccountToken: {{ .serviceAccount.automount }}
{{- end }}
{{- end }}
