name: Release

on:
  push:
    tags:
      - 'v*'

permissions:
  packages: write

jobs:
  container:
    name: Publish container image
    runs-on: ubuntu-latest

    strategy:
      matrix:
        arch:
          - amd64
          - arm64
        crate:
          - dhcp-template-operator
          - dhcp-template-agent

    steps:
      - name: Install qemu dependency
        run: |
          sudo apt-get update
          sudo apt-get install -y qemu-user-static

      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 1

      - name: Container Tags
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: |
            ghcr.io/${{ github.repository }}/${{ matrix.crate }}
          tags: |
            type=semver,pattern=v{{version}}
            type=semver,pattern=v{{major}}

      - uses: redhat-actions/buildah-build@v2
        id: build-image
        with:
          tags: ${{ steps.meta.outputs.tags }}
          archs: ${{ matrix.arch }}
          containerfiles: |
            ./crates/${{ matrix.crate }}/Containerfile

      - uses: redhat-actions/push-to-registry@v2
        with:
          tags: ${{ steps.build-image.outputs.tags }}
          username: ${{ github.actor }}
          password: ${{ github.token }}

  helm:
    name: Publish helm chart
    runs-on: ubuntu-latest

    needs:
      - container

    steps:
      - name: Checkout 
        uses: actions/checkout@v6
        with:
          fetch-depth: 1

      - name: Login to ghcr.io
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ github.token }}

      - name: Push chart
        run: |
          helm package charts/dhcp-template --version ${{ github.ref_name }} --app-version ${{ github.ref_name }}
          helm push "dhcp-template-${{ github.ref_name }}.tgz" "oci://ghcr.io/${{ github.repository }}/charts"
